
<div class="riddle-wrapper">
    <div class="information">
        <div id="timer">残り時間： 3分 00秒</div>
        <p>※こたえは必ずひらがなで入力してください</p>
    </div>
    
    <div class="riddle-content">
        <form id="riddle-form" action="/guest/<%= params[:token] %>/riddle" method="post">
        <% @riddles.each do |nazo| %>
        <div class="riddle-card">
            <p> 謎<%= nazo.order %> </p>
            <img  src="/assets/riddles/<%= nazo.img %>">
            <div class="riddle-input">
                <input type="text" name="nazo-<%= nazo.order %>" placeholder="謎<%= nazo.order %> の答え">
            </div>
        </div>
        <% end %>
        <input class="riddle-submit" type="submit" value="回答を終了する">
        </form>
    </div>
</div>

<script>
    let timeLeft = 180; 
    
    const timerDisplay = document.getElementById('timer');
    const riddleForm = document.getElementById('riddle-form');

    const countdown = setInterval(() => {
        timeLeft--;

        const minutes = Math.floor(timeLeft / 60);
        const seconds = timeLeft % 60;
        timerDisplay.textContent = `残り時間： ${minutes}分 ${seconds.toString().padStart(2, '0')}秒`;

        if (timeLeft <= 0) {
            clearInterval(countdown); 
            alert("時間切れです！自動的に回答を送信します。"); 
            riddleForm.submit();
        }
    }, 1000);
    
document.getElementById('riddle-form').addEventListener('keydown', function(event) {
    if (event.key === 'Enter' && event.target.tagName === 'INPUT') {
        event.preventDefault(); 
    }
});
</script>
